<?xml version="1.0"?>
<model>
  <name>Orange box</name>
  <version>1.0</version>
  <sdf version='1.6'>orange_box.sdf</sdf>

  <author>
   <name>Sander Hazelaar</name>
   <email>SanderHazelaar@users.noreply.github.com</email>
  </author>

  <description>
    Orange box for the TU Delft Cyberzoo
  </description>
</model>